

.container {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}



.content {
  padding: 10px;
}

a {
  text-decoration: none;
}



.container1 {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  flex-basis: 2;
  margin: 10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: 120vh;
  border: 1px solid #ccc;
}


.item {
  flex-basis: calc(50% - 10px)
   padding: 10px;
   box-sizing: border-box;
   border: 1px solid #ccc;
   margin-bottom: 20px;
}

.page-wrapper1 {
  display: flex;
  flex-wrap: wrap;
  background-color: #5a175d;
  padding: 50px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin: 30px;
}

.center-aligned {
  text-align: center;
}

.text-align {
  text-align: left;
}

body {
  color: white;
  font-family: 'Roboto', sans-serif; 
}
#black-text {
  color: black;
}


@font-face {
  font-family: 'TiltPrism';
  src: url('https://fonts.gstatic.com/s/tiltprism/v6/MQPd-6L8LwWm9eUzzaDbd3GLhQ.ttf') format('truetype');
}

.custom-heading {
  font-family: 'Tilt Prism', sans-serif;
}

.half-column {
  flex: 50%;
}


.grid-footer {
  color: whitesmoke;
  background-color: #681813;
  padding: 20px;
  border-top: 5px lightgrey;
}

.grid-header {
  color: whitesmoke;
  background-color: #681813;
  padding: 20px;
  border-bottom: 5px;
}

.background-color {
  background-color: lightgrey;
}

.grid-item2 {
  background-color: transparent;
  padding: 10px;
  margin: 10px;
}


.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #4c2a85;
}

.navbar-list li {
  display: inline-block; 
}


.navbar-list li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar-list li a:hover {
  background-color: lightslategray;
}

.my-link {
  color: white;
  text-decoration: none; 
  transition: color 0.3s; 
}

.my-link:hover {
  color: slategrey;
}


.my-link:visited {
  color: purple;
}



@media (max-width: 600px) {
  .navigation {
      font-size: 14px;
      padding: 5px;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  .navigation {
    font-size: 17px; 
    padding: 8px;
  }
}

@media (min-width: 1025px) {
  .navigation {
      font-size: 18px;
      padding: 12px; 
  }
}

div.main_table
{
	display: table;
	margin-right: -5px;
	margin-top: -8px;
	width: 100%;
}

div.right_cell
{
	display: table-cell;
	width: 345px;
	padding-left: 10px;
	vertical-align: top;
}
div.left_cell
{
	display: table-cell;
	min-height: 570px;
	vertical-align: top;
}
@media (max-width: 800px) {
  .container1 {
    padding: 10px;
  }
  .item {
    flex-basis: calc(100% -20px);
  }
  div.main_table
	{
		display: block;
		margin-right: 0;
	}
	div.left_cell
	{
		display: block;
		width: 100%;
		margin-right: 0px;
		min-height: 0;
	}
	div.right_cell
	{
		display: block;
		width: 100%;
		padding: 0px;
	}
  
}



@media (min-width: 601px) and (max-width: 1024px) {
  .container1 {
      padding: 15px;
  }
  .item {
    margin: 5px 0;
  }
}
@media (min-width: 1025px) {
  .container1 {
      padding: 30px;
  }
}

* {
  box-sizing: border-box;
}



