.page-wrapper {
    background-color: #370031; /* Example background color */
    padding: 20px; /* Adds spacing within each page-wrapper */
    flex-basis: 58%;
    box-sizing: border-box; /* Include padding in the width calculation */
    
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Creates 2 columns with equal width */
    grid-gap: 50px; /* Adds spacing between grid items */
    margin: 40px;
  }
    

  


