
  
  
  
  

  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
    margin: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }

  .specific-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin: right;
    
    
  }
  
  .page-wrapper {
    background-color: #370031; 
    padding: 20px; 
    justify-content: space-between;
    box-sizing: border-box; 
    margin: 30px;
   
    
  }
  .custom-page-wrapper{
    background-color: #370031;
    padding: 10px;
    margin: 30px;
    box-sizing: border-box;
   

}

.center-aligned {
  text-align: center;
}

.text-align {
  text-align: left;
}

@font-face {
  font-family: 'TiltPrism';
  src: url('https://fonts.gstatic.com/s/tiltprism/v6/MQPd-6L8LwWm9eUzzaDbd3GLhQ.ttf') format('truetype');
}
.custom-heading {
  font-family: 'Tilt Prism', sans-serif;
  font-size: 40px;
}
.season {
  color: black;
}


.grid-footer {
  color: black;
  background-color: #cc0000;
  padding: 20px;
  border-top: 5px lightgrey;
}

.grid-header {
  color: black;
  background-color: #cc0000;
  padding: 20px;
  border-bottom: 5px;
}
.background-color {
  background-color: lightgrey;
}

#white-text {
  color: white;
}

.color {
  color:#370031
}
.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:red;
}

.navbar-list li {
  display: inline-block; 
}


.navbar-list li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar-list li a:hover {
  background-color: pink;
}
@media (max-width: 768px) 