.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Creates 2 columns with equal width */
    grid-gap: 20px; /* Adds spacing between grid items */
    margin: 30px;
    
  }
  
  .grid-item {
    background-color: #151667;
    padding: 50px;
    margin: 50px;
    border: 30px;
    
  }
.colored-text {
    color: white;
}