.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Creates 2 columns with equal width */
    grid-gap: 20px; /* Adds spacing between grid items */
    margin: 20px;
    
  }
  
  .grid-item {
    background-color: #151667;
    padding: 30px;
    margin: 10px;
    border: 30px;
    
  }
  
.colored-text {
    color: white;
}

@font-face {
  font-family: 'TiltPrism';
  src: url('https://fonts.gstatic.com/s/tiltprism/v6/MQPd-6L8LwWm9eUzzaDbd3GLhQ.ttf') format('truetype');
}
.custom-heading {
  font-family: 'Tilt Prism', sans-serif;
}

.grid-footer {
  color: black;
  background-color: #cc0000;
  padding: 20px;
  border-top: 5px lightgrey;
}

.grid-header {
  color: black;
  background-color: #681813;
  padding: 40px;
  border-bottom: 5px;
}
.background-color {
  background-color: lightgrey;
}