#navigation-performingarts{

    background-color: #4c2a85; 
    justify-content: center;
    align-items: center;
    height: 50px;

    font-family: 'Tilt Prism', cursive;
    color: white;
    text-decoration: none;

    display: none;

    @include lg{
        display: block;
        width: 100%;

    }

    ul{
        @include lg{
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            padding: 10px;
        }
    }
}
#performingarts-header{
    background-color: red;
    text-align:  center;

    #performingarts-title{
        font-size: 48px;
        font-family: 'Tilt Prism', cursive;
        color: white; 
        text-decoration: none;
    }
    #subtitleperformingarts{
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        color: white; 
    }

}

.performingartslink:link, a.performingartslink:visited{
    color: white;
    text-decoration: none;
}
.performingartslink:hover, a.performingartslink:active{
    color: lightgray;
}    

footer {
    background-color: red;
    text-align: center;
}