/* Global styles */
body {
    font-family: 'Tilt Prism', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(206, 12, 12);
    
    // background: rgb(171, 167, 185);
}

/* Navbar styles */
.navbar {
    background-color: #492d79;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.navbar a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
}

/* Page content styles */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
}

.event-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: rgba(244, 89, 89, 0.541);
}

.event-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


/* Footer styles */
.footer {
    background-color: #4c2a85;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100%;
}
