#navigation-visualarts {

    background-color: #4c2a85; 
    justify-content: center;
    align-items: center;
    height: 50px;

    font-family: 'Tilt Prism', cursive;
    color: white;
    text-decoration: none;

    display: none;

    @include lg{
        display: block;
        width: 100%;

    }

    ul{
        @include lg{
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            padding: 10px;
        }
    }
}
#visual-artsheader{
    background-color: red;
    text-align:  center;

    #titlevisualarts{
        font-size: 48px;
        font-family: 'Tilt Prism', cursive;
        color: white; 
        text-decoration: none;
    }
    #subtitlevisualarts{
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        color: white; 
    }

}

.visualartslink:link, a.visualartslink:visited{
    color: white;
    text-decoration: none;
}
.visualartslink:hover, a.visualartslink:active{
    color: lightgray;
}    



.visualarts-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #008264;
    margin: 20px;
    padding: 20px;
    text-align: center;


}
.visualarts-box img{
    max-width: 100%;
    height:auto;
}

.visualarts-box h3{
    font-family: 'Tilt Prism', cursive;
    color: black;
    text-decoration: none;
    font-size: 24px;
}

.buttonva{
    display: inline-block;
    padding: 10px 20px;
    background-color: #009B77;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}



#page-title{
    text-align: center;
}



footer {
    background-color: red;
    text-align: center;
}