#navigation-visualarts {

    background-color: #4c2a85; 
    justify-content: center;
    align-items: center;
    height: 50px;

    font-family: 'Tilt Prism', cursive;
    color: white;
    text-decoration: none;

    display: none;

    @include lg{
        display: block;
        width: 100%;

    }

    ul{
        @include lg{
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            padding: 10px;
        }
    }
}
#visual-artsheader{
    background-color: red;
    text-align:  center;

    #titlevisualarts{
        font-size: 48px;
        font-family: 'Tilt Prism', cursive;
        color: white; 
        text-decoration: none;
    }

}

.visualartslink:link, a.visualartslink:visited{
    color: white;
    text-decoration: none;
}
.visualartslink:hover, a.visualartslink:active{
    color: lightgray;
}    

