/* =============
    Base
============= */

body{
    background-color: var(--lightgray);

}

li{
    text-decoration: none;
}


img{
    width: 50%;
    align-content: center;
    margin: auto;
    padding: auto;
}


.content grid index{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";

@include xl {
    grid-template-columns: auto 1200px auto;
}
}

.content grid performing-arts{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";

@include xl {
    grid-template-columns: auto 1200px auto;
}


}    
.content grid visual-arts{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";

@include xl {
    grid-template-columns: auto 1200px auto;
}
}